/*----- GLOBAL STYLES ----- */
html {
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

i.fas:hover{
  color: #1a2a6c !important;
}

hr {
  background: grey;  /* fallback for old browsers */
}

.cont {
  max-width: 1200px !important;
  margin: 20px auto;
  word-wrap: break-word !important;
}

.is-danger {
  word-break: break-all !important;
}

input {
  width: 500px !important;
}

.button {
  display: block !important;
  margin: 20px auto !important;
}

.card:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.box {
  border-radius: 1px !important;
}

.box {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card{
  width: 75%;
  margin: 0px auto;
}

h2 {
  font-size: 140%;
  font-weight: 500;
  margin-top: 5px;
}

.title.is-5 {
  margin-bottom: 5px;
}
/*----- END GLOBAL CLASS STYLES ----- */
/* -------------------------------------------------------------------------------- */
/*----- BEGIN RE-UASBLE CLASS STYLES ----- */

.gradient {
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.margin-top {
  margin-top: 10px !important;
}

.margin-top-extra {
  margin-top: 20px;
}

.margin-bot {
  margin-bottom: 2px;
}

.hidden {
  display: none;
}

.white {
  color: white !important;
}

.is-bold {
  font-weight: bold;
  margin-bottom: 2px !important;
}

.title-no-margin {
  margin-bottom: 2px !important;
}

.margin-bottom {
  margin-bottom: 10px;
}

.padding-left {
  padding-left: 5px;
}

.is-centered {
  text-align: center !important;
}

.inline-block {
  display: inline-block !important;
}

.width-ninty-five{
  width: 95% !important;
}

.margin-five {
  margin: 5px !important;
}
/*----- END RE-UASBLE STYLES ----- */
/* -------------------------------------------------------------------------------- */
/*-----BEGIN NAV BAR STYLES ----- */
.logo-padding {
  padding-top: 0px !important;
  padding-bottom: 10px !important;
}

nav {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.version {
  padding-right: 8px;
  line-height: 50px;
}

.logo {
  display: -webkit-inline-box !important;
}
/*-----END NAV BAR STYLES ----- */
/* -------------------------------------------------------------------------------- */
/*-----BEGIN TABLE STYLES ----- */
table {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

th{
  background: #555;
  color: #FFF !important;
}

.table-margin {
  margin: 0px !important
}

/*-----END TABLE STYLES ----- */
/* -------------------------------------------------------------------------------- */
/*-----BEGIN PAGE SPECIFIC STYLES ----- */
.modal-card-body {
  text-align: center !important;
}

.code {
  line-height: 20px;
  max-width: 1100px;
}

.companies {
  display: inline-block;
}

.values-cont {
  display: inline-block;
  margin-left: 10px;
}

.false {
    background-color: #ff3860;
    color: white;
    padding: 0px 8px 0px 8px;
    width: 49px;
    border-radius: 4px;
    margin-bottom: 2px;
}

.true {
    background-color: #23d160;
    color: white;
    padding: 0px 8px 0px 10px;
    width: 49px;
    border-radius: 4px;
    margin-bottom: 2px;
}

.results-cont {
  overflow-x: scroll;
  overflow-y: scroll;
}

.btn.btn-blue {
  display: none;
}

.result div {
  display: none;
}

.loading{
  display: -webkit-inline-box !important;
}

.button.update-button {
  margin: 7px 10px 0px 0px !important;
}
/*-----END PAGE SPECIFIC STYLES ----- */
